* {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  text-decoration: none !important;
}

.Link {
  text-decoration: none !important;
}

.admin-page {
  display: flex;
}

.admin-body {
  flex: 1;
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  width: 90%;
  margin-bottom: 20px;
}

.searchField {
  margin-right: 10px;
}

.selectField {
  margin-right: 10px;
}

.resetButton {
  margin-right: 10px;
}

.generateButton {
  margin-bottom: 10px;
}

.scrollableContent {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 300px;
  overflow: auto;
  padding: 10px;
}
/* ProductCard.css */
.productCard {
  width: 100%;
  margin-bottom: 20px;
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
